.best {
  background: $white_bg url("../img/best/bg.png") center center no-repeat /cover;
  text-align: center;
  min-height: 650px; 
}
  .best__container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  .best__title {
    margin-bottom: 55px; 
  }
  .best__list {
    display: flex;
    justify-content: space-around;
   }
  .best__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 285px; 
  }
  .best__icon{
    margin-bottom: 20px;
  }
  .best__svg{
    height: 75px;
    &_meat{
      fill: $meat;
    }
    &_hand{
      fill: $yellow;
    }
    &_natural{
      fill: $green;
    }
  }

    .best__item-title {
      font-family: Lifehack;
      font-size: 24px;
      font-weight: 500; 
    }
    .best__paragraph {
      opacity: 0.8;
      color:  $dark_gray;
      font-family: Ubuntu;
      font-size: 14px;
      font-weight: 300; 
    }
