
.button {
  display: inline-block;
  vertical-align: middle;
  font-size: rem(13px);
  color: inherit;
  border: none;
  margin: rem(20px) rem(0px);
  padding: rem(13px) rem(22px);
  text-transform: uppercase;
  border-radius: rem(10px);
  transition: 1s;
  cursor: pointer;
  background-color:  $orange; 
  &:hover {
    background-color:  $dark_orange; }
  &_more {
    background-color: $dark_gray;
    &:hover {
      background-color: $light_black; }
   }
  &_colorbg_transparent{
    background-color: transparent;
    &:hover{
      background-color: transparent; 
    }
  }
}
