
.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  margin: 20px 0px;
  padding: 13px 22px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
  background-color:  $orange; 
}
  .button:hover {
    background-color:  $dark_orange; }
  .button_more {
    background-color: $dark_gray; }
    .button_more:hover {
      background-color: $light_black; }
