.contacts{
  position: relative;
}
.contacts__map{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.contacts__container{
  position: absolute;
  color: $white ;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  $black_bg;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__svg{
  height: rem(11px);
  width: rem(12px);
  fill:$phone;
  margin-right: rem(5px);
}
.contacts__telephone{
  color: $phone;
  font-weight: 700;
}

