.feedback {
  background-color: $light_gray; }
.feedback__list {
  height: 100%;
display: flex;
flex-wrap: wrap;
position: relative; 
}
.feedback__item{
  width: 25%;
  height: 50%;
  position: relative;
}
.feedback__pic {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback__item:hover .feedback__hover {
  opacity: 1; 
 }
  .feedback__hover {
    position: absolute;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    font-size: rem(14px);
    transition: 1s;
    padding: rem(20px) rem(30px);
    color: $white;
    background: rgba(0, 0, 0, 0.5); }
    .feedback__hover-title {
      font-family: Gagalin;
      font-weight: 400;
      margin-bottom: rem(30px); }
    .feedback__paragraph {
      font-weight: 300; }
    .feedback__hover:hover {
      z-index: 10; 
    }
@include tablets{
  .feedback__item{
    width: 50%;
    height: 25%;
  }
}
@include phones{
  .feedback__hover-title{
    font-size: rem(24px) ;
  }
  .feedback__paragraph{
    display: none;
  }
}