.header {
color: $white;   
background: 
url(../img/header/texture.png) center center /cover no-repeat,
 $black url(../img/header/bg.jpg.png) center center / cover no-repeat;
 }
.header__container{
  justify-content: space-between;
}    
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__title {
 display: flex;
 align-items: center; 
}
.header__left {
  width: 50%;
  flex-shrink: 0;
 margin-right: rem(11px); 
}
.header__text{
 font-family: "lifehack";
 font-size: rem(65px);
 text-transform: lowercase; 
}
@include tablets{
  .header__menu{
    margin: 0 3%;
  }
  .header__title{
    flex-direction: column;
  }
  .header__text{
    padding: 0 20%;
    text-align: center;
  }
}
@include phones{
  .header__menu{
    margin: 0;
    margin-right: 15%;
  }
  .header__text{
    padding: 0 ;
  }
}