.menu{
  background: $gray url("../img/menu/photo-1428660386617-8d277e7deaf2.png") center center / cover no-repeat;
  position: relative;
  display: flex;
  color: $white;
}
.menu__title{
  margin: 7% 12%;
}
.menu__accordeon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $dark_gray;
  opacity: 0.93;
  display: flex;
  z-index: 9;
}
.menu__item{
  height: 100%;
  display: flex;
  width: 80;
}
.menu__button{
  width: rem(80px);
  height: 100%;
  border: none;
  background: center center / cover no-repeat;
  &_bg{
    &_meat{
      background-image: url("../img/menu/photo-1428660386617-8d277e7deaf2.png");
    }
    &_veget{
      background-image: url("../img/menu/photo-1466814314367-45323ac74e2b.jpg.png");
    }
    &_diet{
      background-image: url("/img/menu/photo-1468071174046-657d9d351a40.jpg.png");
    }
  }
}

.menu__paragraph{
  width: 0;
  overflow: hidden;
}