.navigation {
  
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__item:nth-last-child(3)::after {
  display: none;
}

.navigation__link {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: rem(13px);
}
.navigation__item{
  display: flex;
  align-items: center;
  
}
.navigation__item:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 rem(10px);
  width: rem(3px);
  height: rem(3px);
  background: $white;
  border-radius: 50%;
  margin-left: rem(15px);
}
.navigation__button{
  margin-left: rem(15px);
}
.navigation__burger{
  display: block;
  position: relative;
  width: rem(24px);
  height: rem(4px);
  background-color: $white;
  border-radius: 2px;
  &:after{
    content: "";
    position: absolute;
    top: rem(7px);
    width: rem(24px);
    height: rem(4px);
    background-color: $white;
    border-radius: 2px;
  }
  &:before{
    content: "";
    position: absolute;
    top: rem(14px);
    width: rem(24px);
    height: rem(4px);
    background-color: $white;
    border-radius: 2px;
  }
}
.navigation__link-burger{
  display: none;
  align-items: center;
  height: rem(20px);
}
@include tablets{
  .navigation__item{
    display: none;
  }
  .navigation__link-burger{
    display: flex;
  }
}