

.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__item:nth-last-child(3)::after {
  display: none;
}

.navigation__link {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: rem(13px);
}
.navigation__item{
  display: flex;
  align-items: center;
  
}
.navigation__item:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 rem(10px);
  width: rem(3px);
  height: rem(3px);
  background: $white;
  border-radius: 50%;
  margin-left: rem(15px);
}
.navigation__button{
  margin-left: rem(15px);
}

@include tablets{
  .navigation__item{
    display: none;
  }
  .navigation__link-burger{
    display: flex;
  }
}