.navigation {}

.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__item:nth-last-child(2)::after {
  display: none;
}

.navigation__link {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 13px;
}
.navigation__item{
  display: flex;
  align-items: center;
  
}
.navigation__item:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  margin-left: 15px;
}
.navigation__button{
  margin-left: 15px;
}