.sidebar {
  position: fixed;
  top: rem(90px);
  right: rem(52px);
  z-index: 10;
}
.sidebar__link-burger{
  display: none;
}
.sidebar__burger{
  display: block;
  position: relative;
  width: rem(24px);
  height: rem(4px);
  background-color: $white;
  border-radius: 2px;
  &:after{
    content: "";
    position: absolute;
    top: rem(7px);
    width: rem(24px);
    height: rem(4px);
    background-color: $white;
    border-radius: 2px;
  }
  &:before{
    content: "";
    position: absolute;
    top: rem(14px);
    width: rem(24px);
    height: rem(4px);
    background-color: $white;
    border-radius: 2px;
  }
}
.sidebar__link-burger{
  display: none;
  align-items: center;
  height: rem(20px);
}
.sidebar__item {
  margin-bottom: rem(5px);
}

.sidebar__link {
  display: block;
  width: rem(16px);
  height: rem(16px);
  background: url("../img/header/Ellipse_2.png") center center no-repeat;
  border-radius: 50%;
  border: rem(1px) solid transparent;
}

.sidebar__link:hover,
.sidebar__link_active{
  border-color: $white;
}
@include tablets{
  .sidebar{
    top: rem(25px);
    right: rem(33px);
  }
  .sidebar__list{
    display: none;
  }
  .sidebar__link-burger{
    display: flex;
  }
}