.sidebar {
  position: fixed;
  top: rem(90px);
  right: rem(52px);
  z-index: 10;
}

.sidebar__item {
  margin-bottom: rem(5px);
}

.sidebar__link {
  display: block;
  width: rem(16px);
  height: rem(16px);
  background: url("../img/header/Ellipse_2.png") center center no-repeat;
  border-radius: 50%;
  border: rem(1px) solid transparent;
}

.sidebar__link:hover,
.sidebar__link_active{
  border-color: $white;
}
@include tablets{
  .sidebar{
    display: none;
  }
}