
.social{
  display: flex;
  justify-content: space-between;
}
.social__item{
  margin-right: 10%;
}
.social__link{
  display: block;
  
}
.social__svg{
  height: 20px;
  width: 23px;
  fill: $white;
  opacity: 0.3;
  transition: 1s;
 
  &:hover{
    opacity: 1;
  }
}