.title {
  font-family: 'gagalin';
  font-size: rem(75px);
  text-transform: uppercase;
  color:  $dark_gray;
 }
 .title_color_yellow{
  color: $yellow; 
 }
 .title_color_white{
   color: $white;
 }
 .title_size_small{
   font-size: rem(40px);
 }